{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Integrated Stock Review PBP</h1>

    <div class="user-info">
        <h5>Name:</h5>
        <p>{{name}}</p>

        <h5>Class:</h5>
        <p>{{class}}</p>
    </div>

    <table class="product-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Amount</th>
                <th>Increment</th>
                <th>Decrement</th>
                <th>Description</th>
                <th>Date Added</th>
            </tr>
        </thead>

        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.amount}}</td>
                    <td><a href="{% url 'main:increment' product.id %}" class="button">Increment</a></td>
                    <td><a href="{% url 'main:decrement' product.id %}" class="button">Decrement</a></td>
                    <td>{{product.description}}</td>
                    <td>{{product.date_added}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="buttons">
        <a href="{% url 'main:create_product' %}" class="button">
            Add New Product
        </a>

        <a href="{% url 'main:logout' %}" class="button">
            Logout
        </a>
    </div>

    <div class="last-login">
        <h5>Sesi terakhir login: {{ last_login }}</h5>
    </div>
</div>

<style>
    /* CSS Styles */
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
    }

    .user-info {
        margin-bottom: 20px;
    }

    .product-table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    .product-table th, .product-table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
    
    .product-table tbody tr:last-child {
    background-color: #ccc; /* Warna abu-abu */
    }

    .buttons {
        margin-bottom: 20px;
    }

    .button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        text-decoration: none;
        border: none;
        cursor: pointer;
        font-size: 16px;
    }

    .button:hover {
        background-color: #0056b3;
    }

    .last-login {
        font-style: italic;
    }
</style>

{% endblock content %}